*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

:root{
--heading-background-color: rgba(172, 159, 164, 0.959);
--heading-text-color: #0b4a6e;
--border: 1px solid #ddd3d3;
}

nav {
    background-color: var(--heading-background-color);
    padding: 10px;
}

nav a {
    color: var(--heading-text-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--heading-text-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    float: right;
    margin-bottom: 1rem;
    margin-left: 1rem;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
    padding: 1em;
}

aside {
    width: 300px;
    text-align: center;
    position: relative;
}

aside h2{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3.5rem;
}

aside img{
    width: 100%;
    height: auto;
    text-align: center;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
/* Class selectors */
.box{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #75a1e2;
    background-color:  rgba(172, 159, 164, 0.959);
    color: #133261;
}

.box li{
    margin: 1em;
}